doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/style.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.6.4.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        script(src="/scripts/index.js")
    body.pages
        div.div-panel
            p.return-news-chat
                a(href='/user', style = "color: white").info-panel На главную
            p.info-panel #{user.name}: Редактировать профиль
        br
        div.div-panel.edit-style
            form#edit-user-form
                .form-group
                    input.form-control(type="hidden" id="editUserId" name="id" value=user.id)
                .form-group ФИО
                    label(for="editUserName").label-style ФИО:
                    input.form-control(type="text", id="editUserName", name="name", value=user.name, required)
                .form-group
                    label(for="editUserBirth").label-style Дата рождения:
                    input.form-control(type="date", id="editUserBirth", name="date", value=user.date.slice(0, 10), required)
                .form-group
                    label(for="editUserEmail").label-style Почта:
                    input.form-control(type="email", id="editUserEmail", name="email", value=user.email, required)
                .form-group
                    label(for="editUserRole").label-style Роль:
                    select.form-control(id="editUserRole" name="role")
                        option(value="user", selected=user.role === 'user') Пользователь
                        option(value="admin", selected=user.role === 'admin') Администратор
                .form-group
                    label(for="editUserStatus").label-style Статус:
                    select.form-control(id="editUserStatus" name="status")
                        option(value="unverified", selected=user.status === 'unverified') Не подтвержден
                        option(value="active", selected=user.status === 'active') Активен
                        option(value="blocked", selected=user.status === 'blocked') Заблокирован
                button.btn.btn-primary(type="submit") Сохранить изменения